.DS_Store
/host/target/
/firmware/mole/test/build/
__pycache__/
/firmware/mole/examples/bench/build/
/firmware/mole/examples/bench/sdkconfig
/firmware/mole/examples/bench/sdkconfig.old
/firmware/mole/examples/bench/dependencies.lock
/firmware/mole/examples/bench/build_ctrl/
